<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/car.css">
</head>
<body>
    <div id="top">
        <div class="margin clear">
            <div class="top-l">
                您好，欢迎来到 NALA！ 【 
                <a href="login.html" class="login">请登录</a>
                <span>|</span>
                <a href="register.html">免费注册</a>
            】
            </div>
            <div class="top-r">
                <ul>
                    <li>
                        <a href="#">我的现货单</a>
                    </li>
                    <li>
                        <a href="#">我的订货单</a>
                    </li>
                    <li>
                        <a href="#">我的收藏</a>
                    </li>
                    <li>
                        <a href="#">帮助中心</a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="iconfont icon-shouji"></span>手机逛NALA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <header>
    <div class="margin">
        <div class="head">
            <a href="index.html"><img src="http://img2.lizi.com/images/b2b/logo-201901.png"><h3>购物车</h3></a>
        </div>
    </div>
    </header>
    <main>
        <div class="margin">
            <div class="selected">
                <a href="#">当前页面</a>
                <span>></span>
                <a href="#">我的购物车</a>
                <a href="index.html" class="return">
                    <<<
                    返回首页</a>
            </div>
            <div class="main-c">
                <table>
                    <tr class="th">
                        <th class="cho">
                            <input type="checkbox" name="check" class="check" checked />全选
                        </th>
                        <th>商品</th>  
                        <th>批发价 / 起批量</th>   
                        <th>数量</th>
                        <th>小计</th> 
                        <th>操作</th>
                    </tr>
                    
                    <!-- <tr>
                        <td class="cho">
                            <input type="checkbox" class="check"/>
                        </td>
                        <td class="guige">
                            <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/15470844881551074.jpg!wh70" />
                            <p class="tit">柚嫩水润单片</p>
                            <p class="gray">条码：6902088423211</p>
                        </td>
                        <td class="jiage">认证查看价格</td>
                        <td>
                            <div class="num">
                                <span>-</span>
                                <input type="text" value="0">
                                <span>+</span>
                            </div>
                        </td>
                        <td class="zj">￥16.00</td>
                        <td class="del">删除</td>
                    </tr> -->
                  
                </table>
            </div>
            <div class="pay">
                <p>已选择<span>1</span>件商品</p>
                <p>应付金额：<i></i></p>
                <div>结算</div>
            </div>
        </div>
    </main>

    <footer>
        <div class="foot-t">
            <a href="#">关于我们</a>
            <span>/</span>
            <a href="#">联系我们</a>
            <span>/</span>
            <a href="#">人才招聘</a>
            <span>/</span>
            <a href="#">红人合作</a>
            <span>/</span>
            <a href="#">品牌研发</a>
            <span>/</span>
            <a href="#">多元渠道</a>
        </div>
        <div class="foot-c">©2019 娜拉 www.nala.com.cn 浙江三硅网络科技有限公司 备案/许可证号 浙ICP备17028122号-2</div>
        <div class="foot-b">
            <img src="http://static.anquan.org/static/outer/image/aqkx_83x30.png?id=b2b.lizi.com?t=18">
        </div>
    </footer>
<script src="../js/car.js" type="module"></script>
</body>
</html>