<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div id="top">
        <div class="margin clear">
            <div class="top-l">
                您好，欢迎来到 NALA！ 【 
                <a href="login.html" class="login">请登录</a>
                <span>|</span>
                <a href="register.html">免费注册</a>
            】
            </div>
            <div class="top-r">
                <ul>
                    <li>
                        <a href="#">我的现货单</a>
                    </li>
                    <li>
                        <a href="#">我的订货单</a>
                    </li>
                    <li>
                        <a href="#">我的收藏</a>
                    </li>
                    <li>
                        <a href="#">帮助中心</a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="iconfont icon-shouji"></span>手机逛NALA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <header>
        <div class="margin">
            <div class="head">
                <a href="index.html"><img src="http://img2.lizi.com/images/b2b/logo-201901.png"></a>
                <!-- 搜索框 -->
                <form>
                    <div class="form-t">
                        <i class="iconfont icon-search"></i>
                        <input type="text" class="txt" value="请输入商品名称、条码或品牌"/>
                        <input type="button" class="btn" value="搜索"/>
                    </div>
                    <div class="form-b">
                        <span>热搜榜 :</span>
                        <a href="#">凡士林</a>
                        <a href="#">Nursery</a>
                        <a href="#">乐在其中</a>
                        <a href="#">Redearth</a>
                        <a href="#">芙丽芳丝</a>
                    </div>
                </form>
                <div class="car">
                    <a href="car.html"><span class="iconfont icon-gouwuchekong"></span>购物车</a>
                </div>
            </div>
            <div class="nav">
                <div class="nav-l">
                    <a href="#"><span class="iconfont icon-shouqianniuicon"></span>所有分类</a>
                </div>
                <div class="nav-c clear">
                    <!-- 二级导航 -->
                    <ul>
                        <li>
                            <h3>
                                <span class="icon_1"></span>
                                护肤
                            </h3>
                            <div class="bd">
                                <a href="list.html">面膜贴</a>
                                <a href="#">洁面乳</a>
                                <a href="#">眼霜</a>
                                <a href="#">套装</a><br>
                                <a href="#">防晒霜</a>
                                <a href="#">化妆水</a>
                                <a href="#">乳液</a>
                                <a href="#">喷雾</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_2"></span>
                                彩妆
                            </h3>
                            <div class="bd">
                                <a href="#">卸妆水</a>
                                <a href="#">口红</a>
                                <a href="#">粉底液</a>
                                <a href="#">眉笔</a><br>
                                <a href="#">BB霜&&CC霜</a>
                                <a href="#">睫毛膏</a>
                                <a href="#">眼线笔</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_3"></span>
                                个人护理
                            </h3>
                            <div class="bd">
                                <a href="#">洗发水</a>
                                <a href="#">牙膏</a>
                                <a href="#">卫生用品</a>
                                <a href="#">身体乳</a><br>
                                <a href="#">沐浴露</a>
                                <a href="#">香水</a>
                                <a href="#">脱毛</a>
                                <a href="#">护手霜</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_4"></span>
                                美妆工具
                            </h3>
                            <div class="bd">
                                <a href="#">洁面巾</a>
                                <a href="#">化妆刷</a>
                                <a href="#">化妆棉</a>
                                <a href="#">吸油纸</a><br>
                                <a href="#">粉扑</a>
                                <a href="#">修眉刀</a>
                                <a href="#">棉签</a>
                                <a href="#">睫毛夹</a>
                                <a href="#">收纳盒</a>
                            </div>
                        </li>
                    </ul>
                    <div class="third">
                        <ul>
                            <li class="clear">
                                <!-- <div class="td-tit">
                                    <a href="#">洁面</a>
                                    <span> > </span>
                                </div>
                                <div class="td-con">
                                    <a href="#">洁颜霜</a>
                                    <a href="#">洁面乳</a>
                                    <a href="#">洁面皂</a>
                                    <a href="#">洁面啫喱/胶</a>
                                    <a href="#">洁面摩丝</a>
                                    <a href="#">洁面粉</a>
                                    <a href="#">面部去角质/磨砂</a>
                                </div> -->
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="nav-r">
                    <ul>
                        <li><a href="#">品牌大全</a></li>
                        <li><a href="activity.html">NALA热销</a></li>
                        <li><a href="#">NALA服务</a></li>
                        <li><a href="#">快速采购</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="margin">
            <div class="position">
                <a href="#">首页</a>
                <span>></span>
                <a href="#">护肤</a>
                <span>></span>
                <a href="#">面膜</a>
                <span>></span>
                <a href="#">面膜贴</a>
                <span>></span>
                <a href="#">Ponds旁氏 氨基酸面膜单片
                </a>
            </div>
            <div class="good clear">
                <div class="good-pic">
                    <div class="pic-t">
                        <img src="" class="view"/>
                        <span></span>
			            <p></p>
                    </div>
                    <div class="pic-r"><img src="" /></div>
                    <div class="pic-c">
                        <ul class="clear">
                            <!-- <li>
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/15470844881551074.jpg!wh70">
                                <span class="iconfont icon-tubiaozhizuo-"></span>
                            </li> -->
                        </ul>
                    </div>
                    <div class="pic-b">
                        <span></span>
                        <a href="#">
                            <i class="iconfont icon-aixin1"></i>
                            收藏商品(0)
                        </a>
                    </div>
                </div>
                <div class="good-detail">
                    <div class="title">
                        <!-- <div class="title-t">
                            <img src="http://img2.lizi.com/images/b2b/country/US.png">
                            <span>美国 / Ponds旁氏</span>
                        </div>
                        <h1>Ponds旁氏 氨基酸面膜单片</h1>
                        <p>Ponds旁氏 氨基酸米粹润泽面膜单片</p> -->
                    </div>
                    <div class="info">
                        <p class="pifa">批发价：<span></span></p>
                        <p class="liang">起批量：<span></span></p>
                    </div>
                    <div class="pro-goods">
                        <div class="pro-t">
                            <ul>
                                <li>
                                    <span  class="curr">现货</span>
                                </li>
                                <li>
                                    <span class="hide">订货</span>
                                </li>
                            </ul>
                        </div>
                        <div class="pro-c">
                            <table>
                                <tr class="th">
                                    <th>规格</th>  
                                    <th>批发价 / 起批量</th>  
                                    <th>箱规</th> 
                                    <th>库存</th> 
                                    <th>数量</th> 
                                </tr>
                                <!-- <tr>
                                    <td class="guige">
                                        <p>柚嫩水润单片</p>
                                        <p class="gray">条码：6902088423211</p>
                                    </td>
                                    <td class="jiage">认证查看价格</td>
                                    <td class="number">240片</td>
                                    <td class="kucun">-</td>
                                    <td>
                                        <div class="num">
                                            <span>-</span>
                                            <input type="num" value="0" min=0 />
                                            <span>+</span>
                                        </div>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                    <div class="brand-logo">
                        <!-- <a href="#">
                            <img src="http://img2.lizi.com//b2b/user/b4ee3d32-f6fe-4c35-be53-d299726c93a3/15408862134481151.jpg!wh200">
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="jieshao clear">
                <div class="jieshao-l">
                    <h2>大家还买了</h2>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1543915284973888.jpg!wh150">
                            </a>
                            <p class="name">
                                <a href="#">JM solution 水光蜂蜜蚕丝面膜 精装版</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                        </li>
                    </ul>
                </div>
                <div class="jieshao-r">
                    <div class="part">
                        <h5>商品属性</h5>
                        <ul class="part-b clear">
                            <li>
                                <span>品牌：</span>
                                <i>旁氏/Ponds</i>
                            </li>
                            <li>
                                <span>规格：</span>
                                <i>柚嫩水润单片</i>
                            </li>
                            <li>
                                <span>包装：</span>
                                <i>无盒无塑封</i>
                            </li>
                            <li>
                                <span>单位：</span>
                                <i>片</i>
                            </li>
                            <li>
                                <span>保质期：</span>
                                <i>3年</i>
                            </li>
                            <li>
                                <span>产地：</span>
                                <i>中国</i>
                            </li>
                            <li>
                                <span>中文标签：</span>
                                <i>有</i>
                            </li>
                        </ul>
                    </div>
                    <div class="part-detail">
                        <h5>商品介绍</h5>
                        <div class="part-img">
                            <!-- <img src="http://img2.lizi.com/b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/1547084535338542.jpg!wh800"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="foot-t">
            <a href="#">关于我们</a>
            <span>/</span>
            <a href="#">联系我们</a>
            <span>/</span>
            <a href="#">人才招聘</a>
            <span>/</span>
            <a href="#">红人合作</a>
            <span>/</span>
            <a href="#">品牌研发</a>
            <span>/</span>
            <a href="#">多元渠道</a>
        </div>
        <div class="foot-c">©2019 娜拉 www.nala.com.cn 浙江三硅网络科技有限公司 备案/许可证号 浙ICP备17028122号-2</div>
        <div class="foot-b">
            <img src="http://static.anquan.org/static/outer/image/aqkx_83x30.png?id=b2b.lizi.com?t=18">
        </div>
    </footer>
</body>
<script src="../js/detail-main.js" type="module"></script>
</html>