<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品搜索-NALA—为全球美妆商家提供采销服务的平台</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/list.css">
</head>
<body>
    <div id="top">
        <div class="margin clear">
            <div class="top-l">
                您好，欢迎来到 NALA！ 【 
                <a href="login.html" class="login">请登录</a>
                <span>|</span>
                <a href="register.html">免费注册</a>
            】
            </div>
            <div class="top-r">
                <ul>
                    <li>
                        <a href="#">我的现货单</a>
                    </li>
                    <li>
                        <a href="#">我的订货单</a>
                    </li>
                    <li>
                        <a href="#">我的收藏</a>
                    </li>
                    <li>
                        <a href="#">帮助中心</a>
                    </li>
                    <li>
                        <a href="#">
                        <span class="iconfont icon-shouji"></span>手机逛NALA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <header>
        <div class="margin">
            <div class="head">
                <a href="index.html"><img src="http://img2.lizi.com/images/b2b/logo-201901.png"></a>
                <!-- 搜索框 -->
                <form>
                    <div class="form-t">
                        <i class="iconfont icon-search"></i>
                        <input type="text" class="txt" value="请输入商品名称、条码或品牌"/>
                        <input type="button" class="btn" value="搜索"/>
                    </div>
                    <div class="form-b">
                        <span>热搜榜 :</span>
                        <a href="#">凡士林</a>
                        <a href="#">Nursery</a>
                        <a href="#">乐在其中</a>
                        <a href="#">Redearth</a>
                        <a href="#">芙丽芳丝</a>
                    </div>
                </form>
                <div class="car">
                    <a href="car.html"><span class="iconfont icon-gouwuchekong"></span>购物车</a>
                </div>
            </div>
            <div class="nav">
                <div class="nav-l">
                    <a href="#"><span class="iconfont icon-shouqianniuicon"></span>所有分类</a>
                </div>
                <div class="nav-c clear">
                    <!-- 二级导航 -->
                    <ul>
                        <li>
                            <h3>
                                <span class="icon_1"></span>
                                护肤
                            </h3>
                            <div class="bd">
                                <a href="html/list.html">面膜贴</a>
                                <a href="#">洁面乳</a>
                                <a href="#">眼霜</a>
                                <a href="#">套装</a><br>
                                <a href="#">防晒霜</a>
                                <a href="#">化妆水</a>
                                <a href="#">乳液</a>
                                <a href="#">喷雾</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_2"></span>
                                彩妆
                            </h3>
                            <div class="bd">
                                <a href="#">卸妆水</a>
                                <a href="#">口红</a>
                                <a href="#">粉底液</a>
                                <a href="#">眉笔</a><br>
                                <a href="#">BB霜&&CC霜</a>
                                <a href="#">睫毛膏</a>
                                <a href="#">眼线笔</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_3"></span>
                                个人护理
                            </h3>
                            <div class="bd">
                                <a href="#">洗发水</a>
                                <a href="#">牙膏</a>
                                <a href="#">卫生用品</a>
                                <a href="#">身体乳</a><br>
                                <a href="#">沐浴露</a>
                                <a href="#">香水</a>
                                <a href="#">脱毛</a>
                                <a href="#">护手霜</a>
                            </div>
                        </li>
                        <li>
                            <h3>
                                <span class="icon_4"></span>
                                美妆工具
                            </h3>
                            <div class="bd">
                                <a href="#">洁面巾</a>
                                <a href="#">化妆刷</a>
                                <a href="#">化妆棉</a>
                                <a href="#">吸油纸</a><br>
                                <a href="#">粉扑</a>
                                <a href="#">修眉刀</a>
                                <a href="#">棉签</a>
                                <a href="#">睫毛夹</a>
                                <a href="#">收纳盒</a>
                            </div>
                        </li>
                    </ul>
                    <div class="third">
                        <ul>
                            <li class="clear">
                                <!-- <div class="td-tit">
                                    <a href="#">洁面</a>
                                    <span> > </span>
                                </div>
                                <div class="td-con">
                                    <a href="#">洁颜霜</a>
                                    <a href="#">洁面乳</a>
                                    <a href="#">洁面皂</a>
                                    <a href="#">洁面啫喱/胶</a>
                                    <a href="#">洁面摩丝</a>
                                    <a href="#">洁面粉</a>
                                    <a href="#">面部去角质/磨砂</a>
                                </div> -->
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="nav-r">
                    <ul>
                        <li><a href="#">品牌大全</a></li>
                        <li><a href="activity.html">NALA热销</a></li>
                        <li><a href="#">NALA服务</a></li>
                        <li><a href="#">快速采购</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <div class="margin">
            <div class="selected">
                <a href="#">全部</a>
                <span>></span>
                <a href="#">护肤</a>
                <span>></span>
                <a href="#">面膜</a>
                <span>></span>
                <a href="#">面膜贴</a>
                <span>></span>
            </div>
            <div class="options">
                <div class="more">更多<span class="iconfont icon-ico_arrows_unfold"></span></div>
                <dl class="area clear">
                    <dt>品牌产地：</dt>
                    <dd><a href="#">韩国品牌 (20)</a></dd>
                    <dd><a href="#">精品国货 (5)</a></dd>
                    <dd><a href="#">日本品牌 (4)</a></dd>
                    <dd><a href="#">欧美品牌 (2)</a></dd>
                    <dd><a href="#">其他 (1)</a></dd>
                </dl>
                <dl class="op-brand">
                    <dt>品牌：</dt>
                    <dd><a href="#">蝶恩佳(6)</a></dd>
                    <dd><a href="#">肌司妍(5)</a></dd>
                    <dd><a href="#">JAYJUN(3)</a></dd>
                    <dd><a href="#">SNP(2)</a></dd>
                    <dd><a href="#">肌美精(2)</a></dd>
                    <dd><a href="#">蝶恩佳(6)</a></dd>
                    <dd><a href="#">肌司妍(5)</a></dd>
                    <dd><a href="#">JAYJUN(3)</a></dd>
                    <dd><a href="#">SNP(2)</a></dd>
                    <dd><a href="#">肌美精(2)</a></dd>
                    <dd><a href="#">蝶恩佳(6)</a></dd>
                    <dd><a href="#">肌司妍(5)</a></dd>
                    <dd><a href="#">JAYJUN(3)</a></dd>
                    <dd><a href="#">SNP(2)</a></dd>
                    <dd><a href="#">肌美精(2)</a></dd>
                    <dd><a href="#">蝶恩佳(6)</a></dd>
                    <dd><a href="#">肌司妍(5)</a></dd>
                    <dd><a href="#">JAYJUN(3)</a></dd>
                    <dd><a href="#">SNP(2)</a></dd>
                </dl>
            </div>
            <div class="sort">
                <div class="sort-l">
                    <a href="#" class="te">默认</a>
                    <span>|</span>
                    <a href="#">销量</a>
                    <span>|</span>
                    <a href="#">价格</a>
                    <span>|</span>
                    <div class="check">
                        <a href="#">
                            <i class="checkbox"></i><span>新品</span>
                        </a>
                        <a href="#">
                            <i class="checkbox"></i><span>有现货</span>
                        </a>
                        <a href="#">
                            <i class="checkbox"></i><span>特价商品</span>
                        </a>
                    </div>
                </div>
                <div class="sort-r">

                </div>
            </div>
            <div class="list">
                <ul class="clear">
                    <!-- <li>
                        <div class="news-list-t">
                            <a href="detail.html">
                                <img src="http://img2.lizi.com//b2b/user/1b0675fd-b078-4876-8601-8a1edf002a18/15470844881551074.jpg!wh200">
                            </a>
                        </div>
                        <div class="news-list-b">
                            <p class="name">
                                <i>一般贸易</i>
                                <a href="#">Ponds旁氏 氨基酸面膜单片</a>
                            </p>
                            <p class="price">登录后查看价格</p>
                            <div class="sale">
                                <span class="sa">已售：6420件</span>
                                <span class="sb">起批量>10件</span>
                            </div>
                            <p class="label">
                                <em class="ding" data-tipmessage="该商品支持订货">订</em>
                            </p>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="foot-t">
            <a href="#">关于我们</a>
            <span>/</span>
            <a href="#">联系我们</a>
            <span>/</span>
            <a href="#">人才招聘</a>
            <span>/</span>
            <a href="#">红人合作</a>
            <span>/</span>
            <a href="#">品牌研发</a>
            <span>/</span>
            <a href="#">多元渠道</a>
        </div>
        <div class="foot-c">©2019 娜拉 www.nala.com.cn 浙江三硅网络科技有限公司 备案/许可证号 浙ICP备17028122号-2</div>
        <div class="foot-b">
            <img src="http://static.anquan.org/static/outer/image/aqkx_83x30.png?id=b2b.lizi.com?t=18">
        </div>
    </footer>
</body>
<script src="../js/list-main.js" type="module"></script>
</html>