<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div id="top">
            <div class="margin clear">
                <div class="top-l">
                    您好，欢迎来到 NALA！ 【 
                    <a href="login.html" class="login">请登录</a>
                    <span>|</span>
                    <a href="register.html">免费注册</a>
                】
                </div>
                <div class="top-r">
                    <ul>
                        <li>
                            <a href="#">我的现货单</a>
                        </li>
                        <li>
                            <a href="#">我的订货单</a>
                        </li>
                        <li>
                            <a href="#">我的收藏</a>
                        </li>
                        <li>
                            <a href="#">帮助中心</a>
                        </li>
                        <li>
                            <a href="#">
                            <span class="iconfont icon-shouji"></span>手机逛NALA</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <header>
        <div class="margin">
            <div class="head">
                <a href="index.html"><img src="http://img2.lizi.com/images/b2b/logo-201901.png"><h3>登录</h3></a>
            </div>
        </div>
    </header>
    <main>
        <div class="margin">
            <div class="pic">
                <img src="https://s2.lizi.com/images/b2b/login-pic.jpg">
            </div>
        </div>
        <div class="login">
            <div class="login-t">
                <h3>登录</h3>
                <p>
                    <span>没有账号？</span>
                    <a href="register.html">点击注册</a>
                </p>
            </div>
            <div class="login-c">
                <form action="">
                    <div class="use">
                        <span class="iconfont icon-yonghu"></span>
                        <input type="text" placeholder="用户名" class="user"/>
                    </div>
                    <div class="use">
                        <span class="iconfont icon-password suo"></span>
                        <input type="password" placeholder="密码" class="pass"/>
                    </div>
                    <div class="forget">忘记密码？</div>
                    <div class="denglu">
                        <a href="#">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="foot-t">
            <a href="#">关于我们</a>
            <span>/</span>
            <a href="#">联系我们</a>
            <span>/</span>
            <a href="#">人才招聘</a>
            <span>/</span>
            <a href="#">红人合作</a>
            <span>/</span>
            <a href="#">品牌研发</a>
            <span>/</span>
            <a href="#">多元渠道</a>
        </div>
        <div class="foot-c">©2019 娜拉 www.nala.com.cn 浙江三硅网络科技有限公司 备案/许可证号 浙ICP备17028122号-2</div>
        <div class="foot-b">
            <img src="http://static.anquan.org/static/outer/image/aqkx_83x30.png?id=b2b.lizi.com?t=18">
        </div>
    </footer>
</body>
<script src="../js/login.js" type="module"></script>
</html>