<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div id="top">
            <div class="margin clear">
                <div class="top-l">
                    您好，欢迎来到 NALA！ 【 
                    <a href="login.html" class="login">请登录</a>
                    <span>|</span>
                    <a href="register.html">免费注册</a>
                】
                </div>
                <div class="top-r">
                    <ul>
                        <li>
                            <a href="#">我的现货单</a>
                        </li>
                        <li>
                            <a href="#">我的订货单</a>
                        </li>
                        <li>
                            <a href="#">我的收藏</a>
                        </li>
                        <li>
                            <a href="#">帮助中心</a>
                        </li>
                        <li>
                            <a href="#">
                            <span class="iconfont icon-shouji"></span>手机逛NALA</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <header>
        <div class="margin">
            <div class="head">
                <a href="index.html"><img src="http://img2.lizi.com/images/b2b/logo-201901.png"><h3>注册</h3></a>
            </div>
        </div>
    </header>
    <main>
        <div class="margin">
            <div class="res">
                <ul>
                    <li>
                        <span class="left"><i>*</i>手机号：</span>
                        <input type="text" class="phone" placeholder="请输入手机号"/>
                        <span class="phoney"></span>
                    </li>
                    <li>
                        <span class="left"><i>*</i>登录密码：</span>
                        <input type="password" class="pass" placeholder="请输入密码"/>
                        <span class="passy"></span>
                    </li>
                    <li>
                        <span class="left"><i>*</i>确认密码：</span>
                        <input type="password" class="pass2" placeholder="请再次输入密码"/>
                        <span class="pass2y"></span>
                    </li>
                    <!-- <li>
                        <span class="left"><i>*</i>验证码：</span>
                        <input type="text" class="yz" placeholder="请输入验证码"/>
                        <span class="yanzheng">

                        </span>
                    </li> -->
                    <li>
                        <span class="left che">
                            <input type="checkbox" class="check">
                            <i></i>
                        </span>
                        <div class="right">
                            <span></span>
                            <p>注册即阅读并接受<a href="#">《NALA服务协议》</a>
                                <a href="#">《法律声明及隐私权政策》</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <span class="left">&nbsp;</span>
                        <a href="#" class="zhuce">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="foot-t">
            <a href="#">关于我们</a>
            <span>/</span>
            <a href="#">联系我们</a>
            <span>/</span>
            <a href="#">人才招聘</a>
            <span>/</span>
            <a href="#">红人合作</a>
            <span>/</span>
            <a href="#">品牌研发</a>
            <span>/</span>
            <a href="#">多元渠道</a>
        </div>
        <div class="foot-c">©2019 娜拉 www.nala.com.cn 浙江三硅网络科技有限公司 备案/许可证号 浙ICP备17028122号-2</div>
        <div class="foot-b">
            <img src="http://static.anquan.org/static/outer/image/aqkx_83x30.png?id=b2b.lizi.com?t=18">
        </div>
    </footer>
</body>
<script src="../js/register.js" type="module"></script>
</html>